<mat-toolbar color="primary"> Shopping List </mat-toolbar>

<mat-card>
<table>
  <tr>
  <td>  <mat-form-field>
    <input matInput placeholder="Enter Product Name" type="text" [(ngModel)]="pname1">
  </mat-form-field></td>
  <td>  <mat-form-field>
    <input matInput placeholder="Enter Product Price" type="text" [(ngModel)]="price1">
  </mat-form-field></td>
    </tr>
    <tr>
    <td>  <mat-form-field>
      <input matInput placeholder="Enter Product Name" type="text" [(ngModel)]="pname2">
    </mat-form-field></td>
    <td>  <mat-form-field>
      <input matInput placeholder="Enter Product Price" type="text" [(ngModel)]="price2">
    </mat-form-field></td>
      </tr>
</table>
  </mat-card>
<br><br>
<mat-card>
<button mat-raised-button (click)="onClick()">Generate Invoice</button>
<p *ngIf="serverCreated">{{final}}</p>
<p *ngIf="serverCreated">{{final1}}</p>
<p *ngIf="serverCreated">{{totalBill}}</p>
</mat-card>